@charset "UTF-8";






body{
  margin: 0px;
  top: 0;
  width: 100%;
}


.cover {
  background-image: url(img/backdrop3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position:fixed;
}


  @font-face {
  font-family: 'Impact';
  src: url('Impact.ttf');
  font-weight: normal;
  font-style: normal;
}

/* nav {
  color: #fff;
  font-family: 'Golos Text', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0 200px; 
  box-sizing: border-box; 
  position: relative; 
  z-index: 2; 
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
}

.navigation a:link,
.navigation a:visited {
  color: white;
  text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
  color:#C30020;
} */

/* #film1{
  width: 1500px;
  position:relative;
  left: -100px;
  top: -40px;
  z-index: 1;
} */


nav {
  color: #fff;
  font-family: 'Golos Text', sans-serif;
  font-size: 1.4vh;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 85%;
  left: 0;
  bottom: 0;
  width: 200px;
  color: #fff;
  padding: 1em;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 2; 
  transform: translate(0, -50%);
  height: 100vh;
}


nav a {
  display: block;
  /* padding: 0.5em 1em; */
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  margin-bottom: 10px;
}


nav ul {
  list-style: none;
}


.navigation a:hover,
.navigation a.active {
  font-weight: bold;
  color:#C30020;
}


/* Add some space between the navigation links */
nav a + a {
  margin-top: 0.5em;
}


.vertical-line {
  border-left: 1px solid white;
  height: 70%;
  position: fixed;
  left: 2.6%;
  top:15%;
  bottom: 0;
  z-index: 999; 
}


#film3{
  position:absolute; 
  right: 0;
  top: 39vh;
  width: 33%;
  z-index: 1; 
}

#title1{
  /* font-family: 'Odibee Sans', cursive; */
  /* font-family: 'Chonburi', cursive; */
  font-family: 'Contrail One', cursive;
  font-size: 20vh;
  color: white;
  position: absolute;
  transform: rotate(-3deg);
  top: 10%;
  left: 35%;
}

#title2{
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Chonburi', cursive;
  font-size: 5vh;
  color: white;
  position: absolute;
  top: 15%;
  left: 32%;
}

#subtitle1{
  font-family: 'Impact', Arial, sans-serif;
  font-size: 5.3vh;
  color: white;
  position: absolute;
  /* transform: rotate(-4deg); */
  top: 42%;
  left: 62%;
  letter-spacing: 0.6vh;
  z-index: 2;
}

#subtitle2{
  font-family: 'Impact', Arial, sans-serif;
  font-size: 2.3vh;
  color: white;
  position: absolute;
  top: 22%;
  left: 40%;
  z-index: 2;
}

.strip {
	background-image: url("strip/strip3.2.png");
	background-repeat: repeat-x;
	height: 80px;
  width: 125%;
  background-size: 125%;
  position:fixed;
  z-index: 99;
}
 

.strip:hover {
	animation: strip-move 5s linear infinite;
}
  

@keyframes strip-move {
from {
	  background-position: 0 0;
  }
to {
  background-position: 100% 0;
  }
}

/* .introduction{
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  background-color: black;
} */

@font-face {
  font-family: 'Univers';
  src: url('Univers-light-normal.ttf');
  font-weight: normal;
  font-style: normal;
}

.introduction {
  font-family: 'Univers', Arial, sans-serif;
  width: 100%;
  height: 100vh;
  top: 100vh;
  background-color:#121212;
  color: white;
  position: relative;
  z-index: 1;
  }

.intro_container{
  height: 100vh;
  width: 90%;
  left: 5%;
  right: 0;
  position: relative;

}

#Portrait{
  /*height: 46vh;*/
  width: 50vh;
  padding-top:5vh;
  padding-left:17%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#WKWintroduction{
  z-index: 2;
  font-family: 'Stardos Stencil', cursive;
  font-size: 5vw;
  color: white;
  position: absolute;
  top: 28vh;
  left: 50%;
  line-height:10vh;
  text-shadow: 0.6vh 0.6vh 0.4vh rgba(0,0,0,0.8);
}

#para1{
  font-size: 1.3vh;
  line-height: 2.2vh;
  position: absolute;
  left: 17%;
  width: 50vh;
}


#para2{
  font-size: 1.3vh;
  line-height: 2.2vh;
  position: absolute;
  left: 50%;
  width: 50vh;
  top: 4vh;
}

#para3{
  color: white;
  font-size: 1.7vh;
  line-height: 2.2vh;
  position: absolute;
  left: 15vw;
  width: 70vw;
  top: 30vh;
}

.IntheMoodforLove{
  background-image: url(img/In\ the\ Mood\ for\ Love/1936706.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 100vh;
  height: 56vw;
  width: 100%;
  position: relative;
}

.bottom_container{
  background-color: white;
  opacity: 50%;
  position: absolute;
  top: 40vw;
  height: 16vw;
  width: 100%;
}

/* .IntheMoodforLove{
  top:2000px;
  width: 100%;
  height: 1080px;

} */

#galleryimage1{
  height: 12vw;
  left: 15vw;
  top: 35vw;
  width: 20vw;
  position: absolute;
  z-index: 3;
}

#galleryimage2{
  height: 12vw;
  left: 40vw;
  top: 35vw;
  width: 20vw;
  position: absolute;
  z-index: 3;
}

#galleryimage3{
  height: 12vw;
  left: 65vw;
  top: 35vw;
  width: 20vw;
  position: absolute;
  z-index: 3;
}