@charset "UTF-8";



body{
  margin: 0px;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}


.cover {
  background-image: url("img/backdrop3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position:fixed;
}


  @font-face {
  font-family: 'Impact';
  src: url('Impact.ttf');
  font-weight: normal;
  font-style: normal;
}


nav {
  color: #fff;
  font-family: 'Golos Text', sans-serif;
  font-size: 1.4vh;
  font-weight: bold;
  letter-spacing: 1px;
  position: fixed;
  top: 85%;
  left: 0;
  bottom: 0;
  width: 200px;
  color: #fff;
  padding: 1em;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10; 
  transform: translate(0, -50%);
  height: 100vh;
}


nav a {
  display: block;
  /* padding: 0.5em 1em; */
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  margin-bottom: 10px;
}


nav ul {
  list-style: none;
}


.navigation a:hover,
.navigation a.active {
  font-weight: bold;
  color:#C30020;
}


nav a + a {
  margin-top: 0.5em;
}


.vertical-line {
  border-left: 1px solid white;
  height: 70%;
  position: fixed;
  left: 2.6%;
  top:15%;
  bottom: 0;
  z-index: 999; 
}


#film3{
  position:absolute; 
  right: 0;
  top: 39vh;
  width: 33%;
  z-index: 1; 
}

#title1{
  /* font-family: 'Odibee Sans', cursive; */
  /* font-family: 'Chonburi', cursive; */
  font-family: 'Contrail One', cursive;
  font-size: 20vh;
  color: white;
  position: absolute;
  transform: rotate(-3deg);
  top: 10%;
  left: 35%;
}



#subtitle1{
  font-family: 'Impact', Arial, sans-serif;
  font-size: 5.3vh;
  color: white;
  position: absolute;
  /* transform: rotate(-4deg); */
  top: 42%;
  left: 62%;
  letter-spacing: 0.6vh;
  z-index: 2;
}


.strip {
	background-image: url("strip/strip3.2.png");
	background-repeat: repeat-x;
	height: 7.4vh;
  width: 125%;
  background-size: 125%;
  position:fixed;
  z-index: 99;
}
 

.strip:hover {
	animation: strip-move 5s linear infinite;
}
  

@keyframes strip-move {
from {
	  background-position: 0 0;
  }
to {
  background-position: 100% 0;
  }
}



@font-face {
  font-family: 'Univers';
  src: url('Univers-light-normal.ttf');
  font-weight: normal;
  font-style: normal;
}

#introduction {
  font-family: 'Noto Sans Lao', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1vh;
  line-height:3vh;  width: 100%;
  height: 90vh;
  top: 100vh;
  background-color:#121212;
  color: white;
  position: relative;
  z-index: 1;
  }

.intro_container{
  height: 100vh;
  width: 90%;
  left: 5%;
  right: 0;
  position: relative;
}

#Portrait{
  /*height: 46vh;*/
  width: 50vh;
  padding-top:7.2vh;
  padding-left:19%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#WKWintroduction{
  z-index: 2;
  font-family: 'Stardos Stencil', cursive;
  font-size: 5vw;
  color: white;
  position: absolute;
  top: 32vh;
  left: 51%;
  line-height:10vh;
  text-shadow: 0.6vh 0.6vh 0.4vh rgba(0,0,0,0.8);
}

#para1{
  font-size: 1.5vh;
  line-height: 2.8vh;
  position: absolute;
  left: 19%;
  width: 50vh;
}


#para2{
  font-size: 1.5vh;
  line-height: 2.8vh;
  position: absolute;
  left: 51%;
  width: 50vh;
  top: 5vh;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
#IntheMoodforLove{
  background-image: url("img/IntheMoodforLove/IntheMoodforLove_Background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#title2{
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vh;
  color: white;
  position: absolute;
  top: 12%;
  left: 38%;
}

#subtitle2{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vh;
  letter-spacing: 0.4vh;
  color: white;
  position: absolute;
  top: 20%;
  left: 40.5%;
  z-index: 2;
}

#movie_description1{
  font-family: 'Noto Sans Lao', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1vh;
  line-height:3vh;
  color: white;
  font-size: 1.7vh;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 25vh;
}

.bottom_container{
  background-color: white;
  opacity: 25%;
  position: absolute;
  top: 72vh;
  height: 28vh;
  width: 100%;
}


.galleryimage1{
  height: 11.7vw;
  left: 7vw;
  top: 35vw;
  width: 20.8vw;
  position: absolute;
  z-index: 3;
}


.galleryimage2{
  height: 11.7vw;
  left: 28.8vw;
  top: 35vw;
  width: 20.8vw;
  position: absolute;
  z-index: 3;
}

.galleryimage3{
  height: 11.7vw;
  left: 50.6vw;
  top: 35vw;
  width: 20.8vw;
  position: absolute;
  z-index: 3;
}

.galleryimage4{
  height: 11.7vw;
  left: 72.4vw;
  top: 35vw;
  width: 20.8vw;
  position: absolute;
  z-index: 3;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
.HappyTogether{
  background-image: url("img/HappyTogether/HappyTogether_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#title5{
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vh;
  color: white;
  position: absolute;
  top: 12%;
  left: 41.5%;
}

#subtitle5{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vh;
  letter-spacing: 0.4vh;
  color: white;
  position: absolute;
  top: 20%;
  left: 41.5%;
  z-index: 2;
}

#movie_description4{
  font-family: 'Noto Sans Lao', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1vh;
  line-height:3vh;
  color: white;
  font-size: 1.7vh;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 25vh;
}



/* /////////////////////////////////////////////////////////////////////////////////////////// */
.ChungkingExpress{
  background-image: url("img/ChungkingExpress/ChungkingExpress_Background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#title3{
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vh;
  color: white;
  position: absolute;
  top: 12%;
  left: 39%;
}

#subtitle3{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vh;
  letter-spacing: 0.4vh;
  color: white;
  position: absolute;
  top: 20%;
  left: 40.5%;
  z-index: 2;
}

#movie_description2{
  font-family: 'Noto Sans Lao', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1vh;
  line-height:3vh;
  color: white;
  font-size: 1.7vh;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 25vh;
}



/* /////////////////////////////////////////////////////////////////////////////////////////// */
.DaysofBeingWild{
  background-image: url("img/DaysofBeingWild/DaysofBeingWild_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#title4{
  /* font-family: 'Odibee Sans', cursive; */
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vh;
  color: white;
  position: absolute;
  top: 12%;
  left: 40.5%;
}

#subtitle4{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vh;
  letter-spacing: 0.4vh;
  color: white;
  position: absolute;
  top: 20%;
  left: 41.5%;
  z-index: 2;
}

#movie_description3{
  font-family: 'Noto Sans Lao', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1vh;
  line-height:3vh;
  color: white;
  font-size: 1.7vh;
  position: absolute;
  left: 25vw;
  width: 50vw;
  top: 25vh;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
#More{
  font-family: 'Impact', Arial, sans-serif;
  height: 45vh;
  background-color:#121212;
  top: 100vh;
  width: 100%;
  position: relative; 
}


#WorkFromPeers{
  font-size: 3vh;
  color: white;
  letter-spacing: 0.6vh;
  position: absolute;
  top:20%;
  left: 41%;
  margin: 1px;
}


.button {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2vh;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9vw;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  padding: 15px 40px;
  border-radius: 6px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}


.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #008CBA;
  background-color: #008CBA;
}


.button1 {
  top:45%;
  left: 36vw;
  position: absolute;
}


.button2 {

  left: 50vw;
  position: absolute;
  top:45%;

}

#copyright{
  top: 90vh;
  height: 10vh;
  width: 100%;
  position: relative; 
}

#copyrightstatement{
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2vh;
  font-weight: 400;
  text-align: center;
  font-size: 0.7vw;
}
